@media screen and (max-width: 1500px) {
    * {
        font-size: 18px;
    }

    .header__logo img {
        width: 200px;
    }

    .card {
        max-width: 360px;
    }

    .offer__title::before {
        font-size: 7.4rem;
    }

    .about__container {
        grid-column-gap: 4rem;
        padding: 0 2%;
    }
}

@media screen and (max-width: 1380px) {
    * {
        font-size: 16px;
    }

    section,
    footer {
        padding: 4rem 0;
    }

    .container {
        width: 92%;
    }

    .card {
        max-width: 300px;
    }

    .card__title {
        font-size: 0.9rem;
    }

    .project {
        height: 300px;
    }

    .project__name {
        font-size: 0.9rem;
    }

    .company__buttons {
        gap: 16px;
    }

    .about__container {
        padding: 0;
    }
}

@media screen and (max-width: 1280px) {
    .offer__before {
        width: 4%;
    }

    .item {
        max-width: 350px;
    }

    .header__logo img {
        width: 150px;
    }
    .offer__title::before {
        font-size: 6em;
    }
}

@media screen and (max-width: 940px) {
    .menu__icon-mob {
        z-index: 5;
        display: block;
        position: absolute;
        top: 1rem;
        right: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: #D9D9D9;
        border-radius: 5px;
    }

    .menu__icon-mob span,
    .menu__icon-mob::after,
    .menu__icon-mob::before {
        background-color: #fff;
        position: absolute;
        left: 5px;
        height: 2px;
        width: 30px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .menu__icon-mob::after,
    .menu__icon-mob::before {
        content: "";
    }

    .menu__icon-mob::before {
        top: 10px;
    }

    .menu__icon-mob::after {
        bottom: 10px;
    }

    .menu__icon-mob span {
        top: 50%;
        -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
        transform: scale(1) translate(0, -50%);
    }

    .menu__icon-mob.active span {
        -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
        transform: scale(0) translate(0, -50%);
    }

    .menu__icon-mob.active::before {
        top: 50%;
        -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
        transform: rotate(-45deg) translate(0, -50%);
    }

    .menu__icon-mob.active::after {
        bottom: 50%;
        -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
        transform: rotate(45deg) translate(0, 50%);
    }

    .menu {
        opacity: 0;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.5rem;
        background-color: #fff;
        padding: 4.5rem 1rem 2rem 2rem;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 4;
        overflow: auto;
    }

    .menu.active-mob {
        opacity: 1;
        top: 0;
    }

    .menu__item {
        margin-right: auto;
    }

    .menu__item a {
        font-size: 1rem;
        position: relative;
    }

    .menu__item:not(:last-child) a:after {
        content: ">";
        width: auto;
        position: absolute;
        top: -2px;
        right: -1rem;
        font-size: 1.2rem;
        color: #EF7F1B;
        background-color: unset;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

    .menu__btn:hover {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset;
    }

    .menu__item a:hover {
        margin-left: 0.5rem;
    }

    .about__signature {
        font-size: 1.7rem;
        margin: 3rem auto 0 auto;
    }

    .about__container {
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        grid-template-areas:
            "title"
            "img"
            "text"
            "signature";
    }

    .about__text {
        padding: 0 2rem;
    }

    .about__img img {
        height: 300px;
        object-fit: cover;
        object-position: center 68%;
    }

    .offer__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .offer__before {
        width: 5%;
    }

    .offer__title::before {
        font-size: 4em;
    }

    .contact__content {
        grid-template-columns: 1fr;
        grid-template-areas: "title1"
            "company1"
            "company2"
            "map"
            "title2"
            "form";
        grid-column-gap: 1rem;
        padding: 0 3rem;
    }

    .company {
        margin-bottom: 3rem;
    }

    .contact__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .contact__subtitle {
        text-align: center;
    }

    .company__buttons {
        gap: 1rem;
        margin: 2rem 0 0 0;
    }
}

@media screen and (max-width: 840px) {
    .footer__column {
        width: 100%;
    }

    .footer__content {
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: center;
    }
    .main__wrapper {
        height: 70vh;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 92%;
    }

    .main {
        background-position: 50% bottom;
    }

    .main__title,
    .main__title span,
    .title-font {
        font-size: 2.6rem;
    }

    .title-font,
    .title-font span {
        font-size: 2.4rem;
    }

    .main__subtitle {
        font-size: 1.2rem;
    }

    .offer__cards {
        display: grid;
        grid-template-columns: 1fr;
    }

    .offer__before {
        width: 6%;
    }

    .project__name {
        font-size: 1.2rem;
    }

    .contact__content {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .main {
        background-position-x: 88%;
    }
    .main__wrapper {
        height: 100vh;
    }

    .about__content {
        order: 1;
    }

    .about__img {
        order: 2;
    }

    .about__img img {
        width: 100%;
        object-fit: cover;
        object-position: center 80%;
        height: 250px;
    }

    .about__signature {
        margin: 2rem auto 0 auto;
    }

    .offer__title::before {
        font-size: 3.2rem;
    }

    .offer__block {
        padding: 3em 0 6rem 3rem;
    }

    .offer__before {
        width: 10%;
    }

    .offer__before-title {
        margin-top: -4rem;
    }

    .projects__container {
        padding: 0 40px;
    }

    .company__buttons {
        flex-wrap: wrap;
        gap: 0;
    }

    .mylSAction {
        display: none;
    }

    .projects__container {
        padding: 0;
    }
    .about__text {
        padding: 0;
    }
    .item__head {
        height: 180px;
    }
}