/****SLIDER*****/
.projects {
    max-width: 1450px;
    margin: 0 auto;
}
.projects__container {
    width: calc(var(--container) - 110px);
}
.projects__wrapper {
    position: relative;
}
.projects__slider {
    position: static !important;
    width: 100%;
    margin: 0 auto;
}

.projects__slider .swiper-button:after,
.projects__slider .swiper-rtl .swiper-button:after {
    content: unset;
}
.projects__slider .swiper-button {
    position: absolute;
    top: calc(50% - 20px);
    transform: translateY(50%);
    display: block;
    opacity: 0.7;
    background-color: #bbbbbb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 23px;
    width: 34px;
    height: 56px;
    border-radius: 4px;
    cursor: pointer;
     transition: 0.3s;
}
.projects__slider .swiper-button:hover {
    opacity: 1;
}
.projects__slider .swiper-button-prev {
    background-image: url(../images/slider-arrow-prev.svg);
    left: -50px;
}

.projects__slider .swiper-button-next {
    background-image: url(../images/slider-arrow-next.svg);
    right: -50px;
  }
.projects__slider .swiper-pagination {
    position: static;
    margin-top: 0.3rem;
  }

/****END SLIDER*****/
/****POP UP*****/
.popUp {
    opacity: 0;
    pointer-events: none;
}

.popUp.active {
    opacity: 1;
    pointer-events: all;
}

.popUp__block {
    width: 100%;
    max-width: 1000px;
    max-height: 96vh;
    background-color: rgba(43, 42, 40, 0.97);
    border-radius: 20px;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 2rem 2.5rem 1rem 2.5rem;
    position: relative;
}

.popUp__bg {
    width: 100%;
    top: 0;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999999;
}

.popUp__close {
    color: #4E4E4E;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.popUp__project {
    display: none;
}

.popUp__project.active {
    display: flex;
}

.popUp__project img {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
.popUp__slider-gallery {
    margin-top: 8px;
}
.popUp__slider .popUp__slide, 
.popUp__slider .popUp__video {
    height: 400px;
}
.popUp__slider-gallery .popUp__slide,
.popUp__slider-gallery .popUp__video {
    height: 60px;
}
.popUp__slider-gallery .popUp__slide {
    cursor: pointer;
    opacity: 0.5;
}
.popUp__slider-gallery .popUp__slide img {
    width: 100%;
    object-fit: cover !important;
}
.popUp__slider-gallery .swiper-slide-thumb-active {
      opacity: 1;
  }
.vertical-img img{
    object-fit: contain !important;
    width: auto;
}

.popUp__slider .swiper-button-next:after,
.popUp__slider .swiper-rtl .swiper-button-prev:after,
.popUp__slider .swiper-button-prev:after,
.popUp__slider .swiper-rtl .swiper-button-next:after {
    content: unset;
}
.popUp__slider-wrapper {
    position: relative;
}
.popUp__slider {
    position: static !important;
}

.popUp__slider .swiper-button { 
    display: block;
    border-radius: 4px;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    opacity: 0.8;
}
.popUp__slider .swiper-button-next {
    background-image: url(../images/slider-arrow-next.svg);  
    right: -34px;
}

.popUp__slider .swiper-button-prev {
    background-image: url(../images/slider-arrow-prev.svg);
    left: -34px;
}
@media screen and (max-width: 1300px) {
    .projects__container {
            width: calc(var(--container) - 20px);
        }
} 
@media screen and (max-width: 768px) {
    .projects__container {
        width: calc(var(--container) - 40px);
    }
}
@media screen and (max-width: 600px) {
    /* .popUp__slider .popUp__video,
    .popUp__slider .popUp__slide {
        height: 340px !important;
    } */

}
@media screen and (max-width: 767px) {
    .projects__slider .swiper-button {
        display: none !important;
    }
  
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: unset;
    }
}

/****POP UP END*****/